<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="./mysite.css" rel="stylesheet" type="text/css">
<link href="./main.css" rel="stylesheet" type="text/css">

</head>

<body>
	<!-- wrap -->
	<div id="wrap">

		<!-- header -->
		<div id="header" class="clearfix">
			<h1>
				<a href="">Store</a>
			</h1>			
		</div>
		<!-- //header -->

		<!-- nav -->
		<div id="header-nav">
			<div id="header-nav1">
				<ul class="">
					<li><a href="">주문현황</a></li>
					<li><a href="">지난주문</a></li>
					<li><a href="">가게정보수정</a></li>
				</ul>
			</div>

			<div id="header-nav2">
				<ul class="">
					<li><a href="">ooo 님의 가게</a></li>
					<li><a href="">로그아웃</a></li>
				</ul>
			</div>
		</div>
		<!-- //nav -->

		<!-- aside -->
		<div id="container" class="clearfix">
			<div id="aside">
				<ul>
					<li><a href="">지난 주문</a></li>
					<li><a href="">오늘 주문</a></li>
					<li><a href="">지난 주문(전체)</a></li>
				</ul>
		</div>
		<!-- //aside -->




		<!-- container -->
		<div id="container" class="clearfix">

		</div>
		<!-- //container -->
		
		<!-- footer -->
		<div id="footer">
			Copyright ⓒ 2020 황일영. All right reserved
		</div>
		<!-- //footer -->

	</div>
	<!-- //wrap -->

</body>

</html>